@using Microsoft.AspNetCore.Http;
@model List<Serwis.Models.ViewModels.ProductViewModel>
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var sessionForProducts = HttpContextAccessor.HttpContext?.Session.GetString("Login");
   

}

<div class="bookItem">

    @if (Model != null || !Model.Any())
    {

        @foreach (var item in Model)
        {
            <div>
                <a style="cursor: pointer;" asp-action="Product" asp-controller="Shop" asp-route-productId="@item.Id">
                    <img src="~/images/@item.ImageFileName" />
                </a>
                <span>@item.Name</span>
                <span>@item.Price zł</span>
                <div style="display:block">
                    <a asp-action="BuySingleProduct" asp-controller="Shop" asp-route-productId="@item.Id" class=" mt-1 btn btn-sm btn-secondary"> Kupuj</a>
                    <button class=" mt-1 btn btn-sm btn-primary" style="display: inline"
                    onclick="AddPositionToCart('@item.Id', '@sessionForProducts')">
                        Dodaj do koszyka
                    </button>
                </div>
            </div>
        }

    }
    else
    {
        <h2>Brak pozycji do wyswietlenia</h2>
    }
</div>S
@section scripts{
    <script type="text/javascript">



        function AddPositionToCart(productId, userName) {
            if (!confirm(" Czy na pewno chesz dodac te pozycje do koszyka?"))
                return;
            $.ajax({
                type: 'POST',
                url: "@Url.Action("AddPositionToCart", "Shop")",
                data:
                {
                    productId: productId,
                    userName: userName
                },
                success: function(data) {
                    if (data.success) { // musza byc male litery i tu i tu

                        let quantity = document.getElementsByClassName('cart-quantity')[0].textContent
                        quantity++;
                        console.log(quantity);

                        document.getElementsByClassName('cart-quantity')[0].textContent = quantity;


                    } else {
                        alert(data.message + "tu sie zjebalo");
                    }
                },
                error: function(data) {
                    alert(data.message + "nie bo tutaj");
                },
                dataType: 'json'

            });
        }
    </script>
}