@model List<Serwis.Models.Domains.Product>

<br />

<div class="container row">

    <div class="col-5">
    
        <h2 class="text-dark">Produkty</h2>
    </div>
    <div class="col-5 offset-2">
        <a asp-action="Upsert" asp-controller="Home" class="btn btn-info form-control">
            Dodaj nowe
        </a>
    </div>


    <table id="orders" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Opis</th>
                <th scope="col">Cena(zł)</th>
                <th scope="col">Data dodania</th>
                <th scope="col">Obrazek</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                        <td>@item.CreatedDate</td>
                        <td>
                        <img src="~/images/@item.ImageFileName" />
                        </td>
                        <td>
                            <button onclick="removeRow('@item.Id', this)" class=" btn btn-danger">Usuń</button>
                            <a asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-info">Aktualizuj</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                 <tr>
                    <td colspan="5" class="text-center">
                        Brak produktów
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts
    {
    <script type="text/javascript">


       

        function removeRow(id, btn) {
            if (!confirm(" Czy na pewno chesz usunac te pozycje?"))
                return;
            $.ajax({
                type: 'POST',
                url: "@Url.Action("Delete", "Home")",
                data:
                {
                    id: id,
                },
                success: function(data) {
                    if (data.success) { // musza byc male litery i tu i tu
                        //usuwanie w html
                        const table = document.getElementById("orders");
                        
                        const row = btn.parentNode.parentNode;

                        //pierwszy parentNode to <td> drugi parentNode dotyczy <tr> - cały wiersz
                        row.parentNode.removeChild(row);
                        //kolejny parentNode tyczy sie <tbody> po wywolaniu nastepuje usuwanie wiersza

                        let tbodyRowCount = table.tBodies[0].rows.length;
                        
                        if (tbodyRowCount === 0) {

                            let row = table.insertRow(1);

                            let cell1 = row.insertCell(0);


                            cell1.innerHTML = "Brak zaplanowanych zadan";
                        }
                    }else{
                        alert(data.message);
                    }
                },
                error: function(data) {
                    alert(data.message);
                },
                dataType: 'json'

            });
        }
        



    </script>
}