@model List<Serwis.Models.ViewModels.OrderPositionViewModel>

@{
    int orderId=0;
    var lp = 0;
    var index = 0;
    @if(Model !=null && Model.Any()){
    orderId = Model.Select(x => x.OrderId).First();
    }
}

<aside class="col-5">
    <a asp-action="Index" asp-controller="Shop" class="btn btn-light mb-1 form-control">
        Powrót
    </a>
</aside>
<aside class="col-5 offset-2">
</aside>
@if (Model != null && Model.Any())
{
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th style="text-align:center;">Lp.</th>
                <th style="text-align:center;">Nazwa</th>
                <th style="text-align:center;">Podgląd</th>
                <td style="text-align:center;">Ilość</td>
                <th style="text-align:center;">Cena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var position in Model)
            {
                <span hidden class="productId">@position.Product.Id</span>
                <span hidden id="orderId">@position.OrderId</span>

                <tr>

                    <td align="center" valign="middle" style="text-align:center;">@(lp = lp +1 )</td>
                    <td align="center" valign="middle" style="text-align:center;">@position.Product.Name</td>
                    <td align="center" valign="middle" style="text-align:center;">
                        <img style="width:150px; height 200px;" src="~/images/@position.Product.ImageFileName" />
                    </td>

                    <td align="center" valign="middle" style="text-align:center;" id="@index">
                        <button onclick="BtnMinus('@index',this)" class="btn btn-light btn-sm mr-1">-</button>
                        <span class="quantityCl" id="test" style="margin-left: 2px; margin-right: 2px;">1</span>
                        <button class="btn btn-light btn-sm ml-1" onclick="BtnPlus('@index',this)">+</button>
                    </td>

                    <td align="center" valign="middle" id="price_value" class="sum_of_all" style="text-align:center;">
                        @position.Product.Price
                    </td>
                    <td align="center" valign="middle" style="text-align:center;">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button onclick="DeletePosition('@position.Product.Id', '@position.Order.Id', this)"
                    class="btn btn-sm btn-danger">
                               <b>X</b> 
                            </button>
                            index = index + 1;
                        }
                        else
                        {
                            <button onclick="DeletePosition('@position.Product.Id', '@orderId', this)"
                    class="btn btn-sm btn-danger">
                               <b>X</b> 
                            </button>
                            //zwiększenie indesku pola quantity
                            index = index + 1;
                        }
                    </td>
                </tr>

            }
            <tr class="parent_node">
                <td></td>
                <td></td>
                <td></td>
                <td align="center" valign="middle">Suma: </td>
                <td align="center" valign="middle" id="sum_value" style="text-align:center;"></td>
                <td></td>
            </tr>
            <tr class="parent_node">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:center;">
                    <button class="btn btn-outline-success" onclick="PayForOrder('@orderId')">
                        Dokonaj zakupu
                    </button>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
}
else
{


    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th style="text-align:center;">Lp.</th>
                <th style="text-align:center;">Nazwa</th>
                <th style="text-align:center;">Podgląd</th>
                <th style="text-align:center;">Cena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5">Nie wybrano produktu</td>
            </tr>
        </tbody>
    </table>
}

@section scripts
{
<script type="text/javascript" src="~/js/Cart.js">

        


</script>
}
