@using Microsoft.AspNetCore.Http;
@model Serwis.Models.ViewModels.OrderViewModel;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var sessionForUserEmail = HttpContextAccessor.HttpContext?.Session.GetString("Email");

    //var test = Model.OrderPositions.Select(x => x.ProductId = 1);
  //  Console.WriteLine(test);
}
@* <input readonly hidden value = "@model.order.id" />
        <input readonly hidden value = "@model.product.id" />
        <input readonly hidden value = "@model.user.id" />

        
*@


<div class="container border" style="padding:20px">

    

@*@foreach(var pos in test)
{
    <div form-group row>
        <div class=" col-6">
            <input readonly type="text" value="@pos" class="form-control">
        </div>
        
    </div>
}*@
    

    <div form-group row>
        <div class="col-5">
@*           // <label asp-for=""></label> <!--wazne aby własciwosci mialy odpowiedni poziom dostepu-->
*@        </div>
        <div class=" col-7">
            <input readonly type="text" value="@Model." class="form-control">
        </div>
    </div>
    <div form-group row>
        <div class="col-5">
@*            <label asp-for="FullPrice"></label> <!--wazne aby własciwosci mialy odpowiedni poziom dostepu-->
*@        </div>
        <div class=" col-7">
@*            <input readonly value="@Model.FullPrice" class="form-control">
*@        </div>
    </div>
    <div form-group row>
        <div class="col-5">
@*           // <label asp-for="User.Email"></label> <!--wazne aby własciwosci mialy odpowiedni poziom dostepu-->
*@        </div>
        <div class=" col-7">
            <input id="email" value="@sessionForUserEmail" class="form-control">
            <p style="color:red;">@TempData["EmailValidationError"]</p>
        </div>
    </div>

</div>
<div form-group row>
    <div class="col-6">
        <button onclick="ConfirmInvoiceOrder()"
                value="Kupuję"
                class="btn btn-primary mt-3  form-control">
            Kupuję
        </button>
    </div>
    <div class=" col-6">
        <a type="button" class="btn btn-secondary form-control mt-1" asp-action="Index" asp-controller="Admin">Rezygnuję</a>
    </div>
</div>

    </div>
@section scripts{
    <script type="text/javascript">
        const email = document.getElementById("email");


        function ConfirmInvoiceOrder(productId, userId, orderId, email) {
            if (!confirm("test"))
                return;

            $.ajax({
                type: "post",
                url: "@Url.Action("InvoiceOfOrder","Shop")",
                data: {
                    productId: productId,
                    userId: userId,
                    orderId: orderId,
                    email: email
                },
                dataType: "json"
            });
        }

    </script>
    }
